:root{
    /*color*/
    --white-color: #f5f6f7;
    --black-color: #48494a;
    --blue-color: #4251db;
    
    --red-color:#f73a19;
    --gray-light-color:#d8e2e8;
    --gray-dark-color:#81888c;

    /*size*/
    --padding: 12px;
    --avatar-size: 36px;
    
    /*font-size*/
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*테두리를 기준으로 박스 사이즈 크기를 정한다.*/
}

body{
    font-family: Roboto, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: --padding
}