<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Ajax API  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>

    <!-- Bootstrap api -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- made by cek -->
    <script src="{{url_for('static', filename='functions.js')}}"></script>

    <link rel="stylesheet" media="screen" href="{{url_for('static', filename='styles/stylesheet.css')}}">

    <title>오늘은 뭐먹을까?</title>
</head>

<body>
    <!-- 메인 컨테이너 시작 -->
    <div id="main_container" class="jumbotron container1">
        <h1 id="sayHi1" class="display-4">
            오늘은 (아침/점심/저녁)은 뭐먹을까요?
        </h1>

        <hr class="my-4">

        <!-- 날씨정보-->
        <div class="weather-info-box">
        </div>


        <hr class="my-4">
        <p id="sayHi2">오늘 (아침/점심/저녁/야식)은 사먹을까요? 요리할까요?</p>

        <!-- 오늘은 사먹을래!/ 오늘은 요리할래! nav 메뉴 선택 -->
        <div class="select-do-box">
            <!-- nav 탭-->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <!--(nav 탭) 오늘은 사먹을래!-->
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">오늘은 사먹을래!</a>
                </li>

                <!--(nav 탭) 오늘은 요리할래!-->
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">오늘은 요리할래!</a>
                </li>
            </ul>

            <!-- nav 탭에 대응하는 내용-->
            <div class="tab-content" id="myTabContent">

                <!-- (nav 탭)오늘은 사먹을래! 버튼을 클릭했을 때 내용-->
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div id="buy_search_container" class="search_container">
                        <div class="search_title">
                            <h3>오늘은 어떤걸 사먹을까요?</h3>
                        </div>
                        <div class="search_contents">
                            <!--(사먹을래!) 메뉴 선택-->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">메뉴 선택</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01">
                                    <option selected>메뉴 선택</option>
                                    <option value="고기">고기</option>
                                    <option value="냉면">냉면</option>
                                    <option value="닭발">닭발</option>
                                    <option value="돈까스">돈까스</option>
                                    <option value="디저트">디저트</option>
                                    <option value="커피">커피 및 음료</option>
                                    <option value="분식">분식</option>
                                    <option value="쌀국수">쌀국수</option>
                                    <option value="일식">일식</option>
                                    <option value="중식">중식</option>
                                    <option value="족발">족발 & 불족발 & 보쌈</option>
                                    <option value="치킨">치킨</option>
                                    <option value="태국식">태국식</option>
                                    <option value="파스타">파스타</option>
                                    <option value="피자">피자</option>
                                    <option value="한식">한식</option>
                                    <option vlue="햄버거">햄버거</option>
                                </select>
                            </div>

                            <!-- (사먹을래!) 가격 선택-->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">가격 선택</label>
                                </div>

                                <select class="custom-select" id="inputGroupSelect01">
                                    <option selected>가격 선택</option>
                                    <option value="5000원 미만">5천원 미만</option>
                                    <option value="10000원 미만">5천원 ~ 1만원</option>
                                    <option value="20000원 미만">1만원 ~ 2만원</option>
                                    <option value="30000원 미만">2만원 ~ 3만원</option>
                                    <option value="40000원 미만">3만원 ~ 4만원</option>
                                    <option value="50000원 미만">4만원 ~ 5만원</option>
                                    <option value="50000원 이상">5만원 이상</option>
                                </select>
                            </div>
                        </div>
                        <!-- 단추-->

                    </div>
                </div>

                <!--(nav 탭) 오늘은 요리할래! 버튼을 클릭했을 때 내용-->
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div id="cook_search_container" class="search_container">
                        <div class="search_title">
                            <h3>오늘은 어떤 요리를 할까요?</h3>
                        </div>

                        <div class="search_contents">
                            <!-- collapse 를 이용하여 선택하기-->
                            <div class="accordion" id="accordionExample">

                                <!-- 직접 검색해서 요리를 배울래!-->
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left" type="button"
                                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                직접 검색해서 레시피를 배워볼래!
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                                            synth nesciunt you probably haven't heard of them accusamus labore
                                            sustainable VHS.
                                        </div>
                                    </div>
                                </div>

                                <!-- 최고의 요리비결에서 배워볼래 --> 
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                최고의 요리비결에서 배워볼래!
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                                            synth nesciunt you probably haven't heard of them accusamus labore
                                            sustainable VHS.
                                        </div>
                                    </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            Collapsible Group Item #3
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                        dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                                        wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                        vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                                        synth nesciunt you probably haven't heard of them accusamus labore
                                        sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    </div>
    <!-- 메인 컨테이너 끝 -->

    <!-- (오늘은 사먹을래!) 검색결과-->
    <div id="search_result_container" class="jumbotron container1">
        <h1 class="display-4" id="sayHi3">오늘은, 이건 어때요?</h1>
        <hr class="my-4">
        <div id="buy_result_cards">
            <div class="card-deck">

                <div class="card">
                    <img src="{{url_for('static', filename='065Alakazam.png')}}" class="card-img-top result-img"
                        alt="...">
                    <div class="card-body">

                        <h4 class="card-title menu-name">메뉴이름</h4>
                        <div class="store-info-box">
                            <h5 class="store-info store-name">가게 이름</h5>
                            <small>
                                <p class="store-info price-info">5500 원</p>
                            </small>
                        </div>

                        <div class="like-info-box">
                            <div id="likeCircle">
                                <img src="https://i.imgur.com/0b5rfeg.png" align="center" width="20" height="18"
                                    alt="Gears" id="heart" />
                            </div>
                            <div id="likeCount" align="center">1519</div>
                        </div>

                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>


                        <div class="button-group">
                            <div class="btn-group btn-group-lg btn-box" role="group">
                                <img class="btn" src="{{url_for('static', filename='kakaoMap.png')}}">
                            </div>

                            <div class="btn-group btn-group-lg btn-box" role="group">
                                <img class="btn" src="{{url_for('static', filename='kakaotalkBtn.png')}}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <img src="{{url_for('static', filename='065Alakazam.png')}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>

                <div class="card">
                    <img src="{{url_for('static', filename='065Alakazam.png')}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- footer -->
    <div class="jumbotron container1">
        <footer class="footer_info">
            <h3>Sparta Coding Club 08기</h3>
            <p>튜터: 김동석</p>
            <a href="https://github.com/loveAlakazam">코드 작성자: loveAlakazam</a>
        </footer>
    </div>
</body>

</html>
