<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE B_STATUS ='Y'
	</select>
	
	<select id="selectList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD
		WHERE B_STATUS ='Y'
		ORDER BY BID DESC
	</select>
	<resultMap type="Board" id="boardResultSet">
		<id property="bId" column="BID"/>
		<result property="bTitle" column="BTITLE"/>
		<result property="bWriter" column="BWRITER"/>
		<result property="bContent" column="BCONTENT"/>
		<result property="originalFileName" column="ORIGINAL_FILENAME"/>
		<result property="renameFileName" column="RENAME_FILENAME"/>
		<result property="bCount" column="BCOUNT"/>
		<result property="bCreateDate" column="B_CREATE_DATE"/>
		<result property="bModifyDate" column="B_MODIFY_DATE"/>
		<result property="bStatus" column="B_STATUS"/>
	</resultMap>
	
	<insert id="insertBoard">
		INSERT INTO BOARD
		VALUES( SEQ_BID.NEXTVAL, #{bTitle}, #{bWriter}, #{bContent}, 
				#{originalFileName}, #{renameFileName}, ${bCount}, SYSDATE, SYSDATE, DEFAULT)
	</insert>
	
	<update id="addReadCount">
		UPDATE BOARD
		SET BCOUNT=BCOUNT+1
		WHERE BID=#{bId}
	</update>
	
	<select id="selectBoard" resultMap="boardResultSet">
		SELECT *
		FROM BOARD
		WHERE BID=#{bId} AND B_STATUS='Y'
	</select>
	
	<update id="updateBoard">
		UPDATE BOARD
		SET BTITLE=#{bTitle}, BCONTENT=#{bContent},
			<if test="originalFileName != null">
				ORIGINAL_FILENAME=#{originalFileName}, 
			</if>
			RENAME_FILENAME=#{renameFileName},
			B_MODIFY_DATE=SYSDATE
		WHERE BID=#{bId} AND B_STATUS='Y'
	</update>
	
	<update id="deleteBoard">
		UPDATE BOARD
		SET B_STATUS='N'
		WHERER BID=#{bID} AND B_STATUS='Y'
	</update>
	
	<insert id="insertReply">
		INSERT INTO REPLY
		VALUES (SEQ_RID.NEXTVAL, #{rContent}, #{refBid}, #{rWriter}, SYSDATE, SYSDATE, DEFAULT)
	</insert>
	
	<select id="selectReplyList" resultMap="replyResultSet">
		SELECT *
		FROM REPLY
		WHERE REF_BID=#{bId} AND R_STATUS='Y'
		ORDER BY RID DESC
	</select>
	<resultMap type="Reply" id="replyResultSet">
		<id property="rId" column="RID"/>
		<result property="rContent" column="RCONTENT"/>
		<result property="refBid" column="REF_BID"/>
		<result property="rWriter" column="RWRITER"/>
		<result property="rCreateDate" column="R_CREATE_DATE"/>
		<result property="rModifyDate" column="R_MODIFY_DATE"/>
		<result property="rStatus" column="R_STATUS"/>
	</resultMap>
	
	<!-- 
	The content of elements must consist of well-formed character data or markup.
	등호,부등호(<=, >=, >, < ) <>이것은 태그를 연다는 의미이다.
	
	<![CDATA[~]] [~]안에부분은 <,>는 태그를 연다는 의미가 아니라는 것을 알림.
	부등호가 필요한 부분만 적용해도된다.
	 -->
	<select id="selectTopList" resultMap="boardResultSet">
	
		SELECT *
		FROM (SELECT * 
				FROM BOARD 
				WHERE B_STATUS='Y'
				ORDER BY BCOUNT DESC)
		WHERE <![CDATA[ROWNUM<=5]]>
	</select>
</mapper>
