<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
<!-- 
	<select id="memberLogin" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE ID=#{id} AND PWD=#{pwd} AND M_STATUS='Y'
	</select>
 -->
 
 	<select id="memberLogin" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE ID=#{id} AND M_STATUS='Y'
	</select>
	<!--parameter type은 적지 않아도되지만, resultType은 기입해야함.  
		컬럼과 필드 일치 시키기: RESULTMAP 입력필요. -->
	<resultMap type="Member" id="memberResultSet">
		<id column="ID" property="id"/>
		<result column="PWD" property="pwd"/>
		<result column="NAME" property="name"/>
		<result column="EMAIL" property="email"/>
		<result column="GENDER" property="gender"/>
		<result column="AGE" property="age"/>
		<result column="PHONE" property="phone"/>
		<result column="ADDRESS" property="address"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="UPDATE_DATE" property="updateDate"/>
		<result column="M_STATUS" property="mStatus"/>
	</resultMap>
	
	<insert id="insertMember">
		INSERT INTO MEMBER 
		VALUES(#{id}, #{pwd}, #{name},#{email}, #{gender},
		 #{age}, #{phone}, #{address}, SYSDATE, SYSDATE, DEFAULT)
	</insert>
	
	<update id="updateMember">
		UPDATE MEMBER
		SET name=#{name}, email=#{email}, age=#{age}, phone=#{phone},
			gender=#{gender}, address=#{address}, update_date=sysdate
		WHERE id=#{id}
	</update>
	
	<!-- 비밀번호 수정 -->
	<update id="updatePwd">
		UPDATE MEMBER
		SET PWD=#{pwd}, update_date=SYSDATE
		WHERE ID=#{id} AND M_STATUS='Y' 
	</update>
	<!--비밀번호 수정 선생님답
	<update id="updatePwd">
		UPDATE MEMBER
		SET PWD=#{pwd}
		WHERE ID=#{id}
	</update> 
	
	 -->
	
	<!-- 회원탈퇴 -->
	<update id="deleteMember">
		UPDATE MEMBER
		SET M_STATUS='N'
		WHERE ID=#{id} AND M_STATUS='Y'
	</update>
</mapper>
