<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>자바스크립트 함수 만들기</title>
<style>
	div{
		min-height: 100px;
		border : 1px solid pink;
	}
</style>
</head>
<body>
	<h1>함수</h1>
	<ul>
		<li>함수 또한 자료형이다.</li>
		<li>함수는 인자 /매개변수/ 리턴값을 갖는다.</li>
		<li>함수 선언
			<ul>
				<li>선언적 함수: function 키워드에 함수명을 작성하여 사용하는 방법</li>
				<li>익명 함수: function에 함수명을 작성하지 않고 변수에 대입하는 방법</li>
			</ul>
		</li>
		<li>매개변수 전달인자 : 자바처럼 엄격하지 않다. 선언이 안된 변수는 undefined로 자동설정된다. </li>
	</ul>
	
	<hr>
	<br>
	<h2>함수 선언</h2>
	<h3>선언적 함수(함수 선언식)</h3>
	<p>function 키워드에 함수명을 작성하여 사용하는 방법</p>
	<button onclick="test1();">실행 확인</button>
	<div id="div1"></div>
	<script>
		function test1(){		
			var div1= document.getElementById('div1');
			div1.innerHTML='test1() 함수 실행';
		}
	</script>
	
	<hr>
	<h3>익명함수</h3>
	<p>함수명을 작성하지 않고 변수에 대입하는 방법</p>
	<button onclick="test2();">익명함수 실행</button>
	<div id="div2"></div>
	<script>
		//변수에 함수를 담을 수 있다.
		var test2= function(){
			document.getElementById('div2').innerHTML= 'test2()함수 가 실행됨.';
		}
	</script>
	
	<br><hr>
	<h3>스스로 실행하는 함수</h3>
	<p>호출이 따로 필요없다.</p>
	<div id="div3"></div>
	<script>
		//함수선언 , 함수실행()
		(function(){
			console.log('자동실행~');
			document.getElementById('div3').innerHTML+= '자동으로 혼자 실행한다~'+'<br>';
		})();
		
		(function(){
			console.log('자동실행~2');
			document.getElementById('div3').innerHTML+= '소괄호가 ()안에 있어도 실행됨~';
		}());
	</script>
	
	<hr>
	<h2>함수 전달인자와 매개변수</h2>
	<h3>매개인자로 전달하기</h3>
	<button id="btn1">실행확인</button>
	<div id="div4"></div>
	<script>
		function test4(value){
			document.getElementById('div4').innerHTML += value +"<br>";
		}
		
		// onclick이벤트에 연결
		document.getElementById('btn1').onclick = function(){
			test4('loveAlakazam');
			test4(prompt('메세지를 입력하세요'));
			
			// 매개인자개수가 함수에 정의된 인자개수와 일치하지 않을때..?
			test4('love', 'alakazam'); // love만 출력.
			test4();// undefined
		}
	</script>
	
	<hr>
	
	<h3>매개 인자로 스스로를 전달하기</h3>
	<p></p>
	<button onclick="test5('java-script');" name="subject" id="js">java script</button>
	<button onclick="test5('JQuery');" name="subject" id="jq">jquery</button>
	<script>
		function test5(subject){
			alert('오늘 배울 내용은 '+ subject+ '입니다.');
		}
	
		/* function test5(){
			var select;
			
			document.getElementById('js').onclick=function(){
				var msg='오늘 배운 내용은 자바스크립트 입니다.';
				alert(msg);
			}
			document.getElementById('jq').onclick=function(){
				var msg='오늘 배운 내용은  JQuery 입니다.';
				alert(msg);
			}
		} */
	</script>
	

	<br>
	<hr>
	
	<h3>this를 이용하여 나자신을 함수의 매개인자로 전달하기</h3>
	<p>많이 알면, 나중에 요긴하게 활용이 가능하다! 나중에 vanilla 자바스크립트로 작성하기에 수월!</p>
	<!--  스스로를 전달하는 this전달 
		this의 타겟: 나
	-->
	<button onclick="test5_2(this);">JavaScript</button>
	<button onclick="test5_2(this);">JQuery</button>
	<script>
		function test5_2(obj){
			console.log(obj); //this가 가리키는 요소전체를 반환
			
			//innerHTML: html자체를 가져온다.
			var subject= obj.innerText;
			console.log(subject);
			
			alert('오늘 배운 내용은 '+ subject+'입니다.');
		}
	</script>
	
	<br><hr>
	
	<h3>함수와 리턴처리</h3>
	<button onclick="test6();">실행확인</button>
	<div id="div6"></div>
	<script>
		function test6(){
			var num= returnFunction();
			console.log(num);
			
			document.getElementById('div6').innerHTML=num;
		}
		
		function returnFunction(){
			// 1~100사이의 랜덤숫자
			return Math.floor(Math.random()*100)+1;
		}
	</script>
	
	<hr>
	<h3>가변인자 함수</h3>
	<button onclick="test7();">실행확인</button>
	<div id="div7"></div>
	<script>
		function test7(){
			var result=sumAll(11, 22, 33, 44, 55); //arguments (11,22,33,44,55)
			console.log('합: '+ result);
			document.getElementById('div7').innerHTML=result;
		}
		
		function sumAll(){
			//더하기 메소드
			console.log('arugments의 타입: '+ typeof(arguments)); //object
			console.log('arguments의 길이: '+ arguments.length); // 길이 5
			console.log(arguments);
			
			
			var sum=0;
			for(var i in arguments){
				sum+=arguments[i];
			}
			
			return sum;
		}
	</script>
	
	<h2>내장함수</h2>
	<h4>eval()</h4>
	<p>문자열을 자바스크립트 코드로 전환해서 실행</p>
	<label>계산식: </label>
	<input type="text" id="test1">
	<button onclick="test8_1();">실행확인</button><br>
	
	
	<label>숫자1: </label>
	<input type="text" id="number1"><br>
	
	<label>숫자2: </label>
	<input type="text" id="number2">
	<button onclick="test8_2();">실행확인2</button><br>
	
	<div id="div8"></div>
	<script>
		function test8_1(){
			var div8 = document.getElementById('div8');
			div8.innerHTML+= '값 자체: ' + document.getElementById('test1').value+"<br>";
			
			div8.innerHTML+= 'eval() 후' + eval(document.getElementById('test1').value)+'<br>';
		}
		
		function test8_2(){
			var testEval="";
			var num1= parseInt(document.getElementById('number1').value);
			var num2= parseInt(document.getElementById('number2').value);
			
			testEval+= "var num1 = parseInt(document.getElementById('number1').value);";
			testEval+= "var num2= parseInt(document.getElementById('number2').value);";
			testEval += "var sum =0;";
			testEval+= "sum= num1+ num2;";
			testEval+= "document.getElementById('div8').innerHTML += num1 +'과'+ num2 + '의 합은 '+ sum+'입니다.';";
			eval(testEval);
			testEval='';
			
			//넘겨주는 값이 문자열일때, 그 문자열을 읽어낼 때 사용.
		}
	</script>
	
	<h4>infinity와 NaN</h4>
	<p>
	대부분의 프로그램 언어는 0으로 숫자를 나누면 자동으로 오류가 발생하면서 프로그램을 종료<br>
	자바스크립트의 경우 0으로 숫자를 나누면 infinity라는 값이 들어가게되고<br>
	자바스크립트가 표현할 수 없는 숫자는 NaN(Not a Number)로 표시한다.
	</p>
	
	<button onclick="test9();">실행확인</button>
	<div id="div9"></div>
	<script>
		function test9(){
			var num1= 10/0; //Infinity
			var num2= 10/ 'a'; // NaN
			
			console.log(num1);
			console.log(num2);
			
			
			var div9= document.getElementById('div9');
			div9.innerHTML +='10/0: '+num1 + "<br>";
			div9.innerHTML +='10/"a": '+ num2+"<br>";
			
			// isFinite(n): n이 유한한 숫자냐?
			div9.innerHTML += 'isFinite(num1): '+ isFinite(num1)+'<br>'; //false
			
			//isNaN(n): n이 숫자가 아니냐?
			div9.innerHTML += 'isNaN(num2): '+ isNaN(num2)+'<br>'; 		//nan
			
			var num3= -10/0;
			div9.innerHTML+= '-10/0: '+num3+'<br>';
			div9.innerHTML += 'num3==Infinity: '+ (num3==Infinity); 	//false
			div9.innerHTML += 'num3==-Infinity: '+ (num3==-Infinity);	//true
			
			console.log(typeof num1);//number
			console.log(typeof num2);//number
			console.log(typeof num3);//number
		}
	</script>
	
</body>
</html>